body {
  height: 100vh;
  width: 100vw;
  border: solid 2px red;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: space-around;
}

.actions_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

li {
  text-align: center;
  list-style: none;
}

h2 {
  text-align: center;
  background-color: red;
  font-size: 2rem;
}

.actions, .responses {
  flex: 0 0 40%;
}

.res, .actions_list {
  height: 80%;       /* Même hauteur que .actions_list */
  border: solid 2px white; /* Cadre visible même si vide */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  overflow-y: auto;
  align-items: center;
}

.jokeform {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
}

.addJoke {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;          /* largeur réduite */
  max-width: 400px;    /* limite max */
}